@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;   
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, rgba(91, 83, 146, 1), rgba(16, 8, 69, 1));
}

header {
    max-width: 412px;
    max-height: 256px;
    background-image: url('../images/image-header-manhwa.png');
    background-size: cover;      /* cobre toda a área */
    background-position: center; /* centraliza a imagem */
    background-repeat: no-repeat;
    height: 412px;               /* altura do cabeçalho */
    width: 100%;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
    padding-right: 44px;
    padding-left: 21px;
}

.header-apresentacao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 67px;
    color: rgba(206, 202, 202, 1);
}

.logo-header {
    padding-right: 64px;
}

.logo-header img {
    width: 54px;
    height: 43px;
}

nav .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    list-style: none;
}

.menu a {
    color: rgba(206, 202, 202, 1);
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 48px 49px;

}

.manhwa-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

.manhwa-title p{
    color: rgba(206, 202, 202, 1);
    font-size: 32px;
}

#manhwa-icon{
    font-size:50px;
     color: rgba(0, 0, 0, 1);
}

.content-manhwa a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-color: aqua;
    gap: 15px;
    padding-top: 30px;
}

.content-manhwa img{
    width: 220px;
    height: 294px;
    
}  

.content-manhwa a p{
    text-decoration: none;
    color: rgba(206, 202, 202, 1);
    font-size: 32px;
}

.swiper {
      width: 112px;
      height: 220px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide a img  {
      display: block;
      width: 112px;
      height: 294px;
      object-fit: cover;
    }

.swiper-slide a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(206, 202, 202, 1);
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(6, 4, 5, 1);
    width: 412px;
    height: 154px;
}

.agradecimento-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(206, 202, 202, 1);
    font-size: 20px;
    padding-left:20px;
}